@font-face {
    font-family: 'Noto Sans Nabataean';
    src: url('../fonts/NotoSansNabataean-Regular.eot');
    src: url('../fonts/NotoSansNabataean-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansNabataean-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansNabataean-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
